.about-container {background: url('../images/about/aboutBg.png') no-repeat top, #434760;}
.public-title {border-color: #00D69B;}

.advantage-list {margin-top: 23.1rem;}
.advantage-list ul li {padding: 3.4rem 0 0;text-align: center;height: 25rem;background:rgba(44,45,55,.15);}
.advantage-list .advantage-list-border1 li {border: .15rem solid rgba(255,255,255,.1);border-top:0;border-left: 0;}
.advantage-list .advantage-list-border1 li:last-child,.advantage-list .advantage-list-border2 li:last-child {border-right:0;}
.advantage-list .advantage-list-border2 li {border-right: .15rem solid rgba(255,255,255,.1);}
.advantage-list ul li figure {width: 15rem;margin: 0 auto;}
.advantage-list ul li figure img {width: 5.65rem;height: 5.65rem;}
.advantage-list ul li figure figcaption h3 {font-size: .9rem;color: #fff;padding: 2.1rem 0 1.4rem 0;}

.apply-list {margin-top: 5.9rem;}
.apply-list ul li {display: flex;border-right: 0.15rem solid rgba(255,255,255,.1);margin-top: 2.6rem;padding: 1.7rem 0 0;
  height: 17.4rem;text-align: center;}
.apply-list ul li:last-child {border: 0;}
.apply-list ul li figure {width: 15rem;margin: 0 auto;}
.apply-list ul li figure img {width: 3.75rem;height: 3.75rem;}
.apply-list ul li figure figcaption h3 {font-size: .9rem;color: #fff;padding: 2.4rem 0 1.4rem 0;}
.apply-list ul li figure figcaption span,.advantage-list ul li figure figcaption span {display: block;font-size: .7rem;color:rgba(255,255,255,.4);
  line-height: 1.5;}

.use-list {margin-top: 6.1rem;padding-bottom: 13.7rem;}
.use-list ul li {padding: 2.4rem 0 0 1.25rem;}
.use-list ul li:last-child {padding-left: 2rem;}
.use-list ul li figure {display: flex;}
.use-list ul li figure img {width: 7.8rem;height: 7.8rem;}
.use-list ul li figure figcaption {font-size: .75rem;color: #fff;padding: 1.2rem 0 0 1.5rem;width: 17.85rem;
  line-height: 1.5;}
.use-list ul li:last-child figure figcaption {width: 16.5rem;}

.footer {background: #2C2D37;}
.foot-members {display: flex;}
.foot-members .public-title {padding-top: 5rem;}
.foot-members .container {background: #363740;margin-top: -9.8rem;padding-bottom: 6rem;}
.foot-members .container-fisrt {flex: 1;margin-top: -9.8rem;}
.foot-members .container-last {flex: 1;background: #363740;margin-top: -9.8rem;}

.team-list {padding-left: 2.8rem;}
.team-list li {display: flex;padding: 2.5rem 0 0;flex-wrap: wrap;}
.team-list li section {display: flex;flex-direction: column;width: 50%;}
.team-list li section h5 {font-size: .9rem;color: #fff;padding-bottom: 1.3rem;}
.team-list li section p {width: 24.4rem;color:rgba(255,255,255,.4);font-size: ..6rem;}

.foot-members-cont {padding-top: 2.7rem;}
.foot-members-cont ul li {padding: 2.1rem 1.3rem 0;height: 26.2rem;}
.foot-members-cont ul li:hover {background:rgba(62,63,73,1);box-shadow:0 .7rem 3.4rem 0 rgba(69,72,90,0.09);}
.foot-members-cont ul li  figure {text-align: center;}
.foot-members-cont ul li  figure img {width: 7.1rem;height: 7.1rem;}
.foot-members-cont ul li  figure h4 {font-size: .9rem;color: #fff;padding: 2.2rem 0 1.3rem;}
.foot-members-cont ul li  figure p {font-size: .6rem;line-height: 2;color:rgba(255,255,255,.4);text-align: left;}
.foot-members-cont .members-tab {padding-top: 1rem;}
.foot-members-cont .members-tab figure {display: flex;align-items: center;justify-content: center;
    color:rgba(255,255,255,.9);font-size: .8rem;}
.foot-members-cont .members-tab figure img {width: .95rem;height: .85rem;margin-left: .5rem;}

.foot-history {color: #fff;margin: 7.5rem 0 10rem;}
.foot-history .public-title {margin-bottom: 1.8rem;}

.foot-history .foot-history-content {display: flex;align-items: center;}
.foot-history .foot-history-content img {width: 1.15rem;height: 1.15rem;}
.foot-history .foot-history-line {width: 100%;height: 100%;border:0;display: flex;
  align-items: center;justify-content: center;}
.foot-history .foot-history-line span {display: block;width: 100%;height: 100%;
  border-top: .1rem dotted rgba(255,255,255,.5);}

.time-img {width: 1.15rem;height: 1.15rem;border:.15rem solid #00D69B;border-radius: .25rem;transform:rotate(45deg);
  display: flex;align-items: center;justify-content: center;}
.time-img span {width:.25rem;height:.25rem;background:#fff;border-radius:.15rem;}

.footer-list {margin-top: 0;}


.footer-flex-list ul {display: flex;justify-content: space-between;}
.footer-flex-list ul li {width: 25%;}

#timeList ul {display: flex;justify-content: space-between;align-items: flex-start;}
.foot-history-time {font-size: .7rem;color:rgba(255,255,255,.3);padding: 2.5rem 0 1.6rem;}
.foot-history-txt {max-width: 13.5rem;font-size: .8rem;color: #fff;}

/* 媒体查询 适配 */
html {font-size: 20px;}
@media (max-width: 767px) {
  html { font-size: 17px;}
  .advantage-list {margin-top: 15rem;}
  .advantage-list .advantage-list-border1 li,.advantage-list .advantage-list-border2 li,.apply-list ul li {border: 0;border-bottom: .15rem solid rgba(255,255,255,.1);}
  .advantage-list .advantage-list-border2 li:last-child,.apply-list ul li:last-child {border: 0;}

  .apply-list ul li {height: auto;padding-bottom: 1.5rem;}

  .use-list ul li {padding: 1rem 0 0 0;}
  .use-list ul li:last-child {padding-left: 0;}

  .foot-members-cont ul {display: flex;flex-wrap: wrap;}
  .foot-members-cont ul li {height: auto;}

  .team-list {padding-left: 0;}
  .team-list li section,.team-list li section p  {width: 100%;}
  .team-list li section:last-child {margin-top: 2.5rem;}

  .foot-history {margin: 7.5rem 0 5rem;}
  
  .foot-members-cont ul li {padding: 2.1rem .5rem 2.5rem;}
  
  .footer-flex-list {display: flex;}
  .footer-flex-list ul {flex-direction: column;justify-content:flex-start;}
  .footer-flex-list ul li {width: 100%;}
  .footer-flex-list ul:first-child {width: 20%;}
  .footer-flex-list ul:first-child li {flex: 1;}
  .footer-flex-list ul:last-child {width: 80%;}
  .footer-flex-list ul:last-child li {padding: 1rem 0;}
  .foot-history .foot-history-content {flex-direction: column;height: 100%;}
  .foot-history ul li .foot-history-time {padding: 0;}

  .foot-history .foot-history-line span {width: .05rem;border-left: .1rem dotted rgba(255,255,255,.5);}
}

@media (min-width: 768px) {
  html { font-size: 18px;} 
}

@media (min-width: 992px) {
  html { font-size: 19px;} 
}

@media (min-width: 1200px) {
  html { font-size: 20px;}
  .container {padding: 0;width: 1200px;}
  .row {margin: 0;}
}

@media (min-width: 1920px) {
  .public-footer .foot-members .container {width: 1200px;}
  .public-footer .container .foot-history {width: 1200px;margin: 7.5rem auto 10rem;}
}