/* 通用字体 */
@font-face {
  font-family:'gotham';
  src: url(../dist/font/Gotham-Medium.pfb.ttf);
}

/* title字体 */
@font-face {
  font-family:'ceraPRO';
  src: url(../dist/font/CeraPRO-Bold.otf);
}

/* 特殊字体 */
@font-face {
  font-family:'proximaNova';
  src: url(../dist/font/ProximaNova-Bold.otf);
}

body {font-family: gotham;}
a:link,a:visited,a:hover,a:active {text-decoration: none;}

/* 浏览器缩放提示 */
.zoom-message {position: fixed;right: 0;top: 4.4rem;width: 16.5rem;padding: .8rem 2rem .8rem .8rem;
  background: #ebf5fd;z-index: 999;color: #515a6e;font-size: .7rem;display: none;
  border-top-left-radius: .2rem;border-bottom-left-radius: .2rem;}
.toastCnt {position: fixed;top: 1rem;background: rgba(255,255,255,1);z-index: 999;width: 50%;
  margin: 0 auto;padding: .5rem 1rem;left: 25%;border-radius: .25rem;text-align: center;
  line-height: 1.5;font-size: .8rem;color: #FB6363;display: none;}

.public-head ul li:hover,.content-head .head-down img:hover,.suggest-from span:hover,
.public-title figure:hover,.last-foot-list .biutWx:hover,.mask-close:hover {cursor: pointer;} 

.check-color {color:rgba(255,255,255,.8)!important;}
/*  2462 2145 497 */

.head-content {position: relative;background: url('../images/index/header-bg.png') no-repeat top, #3d3f4a;
  padding-bottom: 24.5rem;}
.head-container-ab {position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.head-container-bg {background: url('../images/index/header-bg-active.png') no-repeat top;
  animation-name: breath; animation-duration: 3s;animation-timing-function: ease-in-out;animation-iteration-count: infinite;
  -webkit-animation-name: breath;-webkit-animation-duration: 3s;-webkit-animation-timing-function: ease-in-out; 
  -webkit-animation-iteration-count: infinite;pointer-events: none;}

@keyframes breath {
	from { opacity: 0.1; }
	50%  { opacity:   1; }
	to   { opacity: 0.1; }   
}

.echart-content {width: 19.1rem;height: 7.45rem;background: url('../images/index/echartBg.png') no-repeat center;
  background-size: cover;color: #fff;}
.echart-content div {font-size: .6rem!important;font-family: PingFangSC-Light, sans-serif;}

.container-footer {background:rgba(44,45,55,1);position: relative;}

/* 公共头部 */
.public-head {display: flex;align-items: center;justify-content: space-between;
    padding: 2.9rem 3.75rem 0 3.15rem;}
.public-head figure img {width: 5.2rem;height: 1.75rem;}
.public-head ul {display: flex;align-items: center;}
.public-head ul li {margin-left: 5.2rem;font-size: .9rem;color:rgba(255,255,255,.2);}
.public-head ul .check-img {display: flex;align-items: center;}
.public-head ul li img {width: .55rem;height: .55rem;margin-right: .9rem;vertical-align: middle;}
.public-head ul li a {color:rgba(255,255,255,.2);}
.public-head ul li a:hover {color:rgba(255,255,255,.8);text-decoration: none;}
.public-head ul li:first-child {margin-left: 0;}
.public-head ul li:last-child {margin-left: 6.4rem;}
.public-head ul li:last-child span:first-child {font-family: PingFangSC-Semibold, sans-serif;}
.public-head ul li:last-child .head-line {padding: 0 .4rem;}


/* 首页 - 头部内容 */
.content-head {padding: 13.6rem 0 0 2.8rem;}
.content-head .head-logo h1 {margin-bottom: 2rem;color: #00D69B;}
.content-head .head-logo p {font-size: .75rem;color: rgba(255,255,255,.8);line-height: 2;}
.content-head .head-logo figcaption .pc-tit {display: none;}
.content-head .head-logo figcaption .moible-tit {display: block;}
.content-head .head-logo figcaption img {width: 11px;height: 9px;margin-bottom: 1rem;}
.content-head .head-logo figcaption img:last-child {margin: 1rem 0 0;}

.content-head .head-list {display: flex;padding-top: 3.35rem;}
.content-head .head-list li {font-size: .65rem;color:rgba(255,255,255,.5);height: 1.8rem;box-sizing: border-box;
  border: .1rem solid #787380;border-radius: .9rem;display: flex;align-items: center;}
.content-head .head-list li a {color:rgba(255,255,255,.5);}
.content-head .head-list li:hover,.content-head .head-list li a:hover {color:rgba(255,255,255,.8);cursor: pointer;}
.content-head .head-list li:first-child {padding: 0 1.2rem 0 1.1rem;}
.content-head .head-list li:nth-child(2) {padding: 0 .9rem 0;margin: 0 1rem 0 .5rem;} 
.content-head .head-list li:last-child {padding: 0 1rem 0 .9rem;}
.content-head .head-down {margin: 6.1rem 0 5.75rem;}
.content-head .head-down img {width: 2.85rem;height: 2.85rem;}

/* 首页公共子导航 */
.public-title {display: flex;align-items: center;justify-content: space-between;box-sizing: border-box;
  padding: 0 1.8rem 1.6rem 2.8rem;border-bottom: .2rem solid #787380;}
.public-title h3 {font-size: 1.2rem;color: #fff;font-family: ceraPRO;}
.public-title figure {display: flex;font-size: .6rem;color: rgba(255,255,255,.8);}
.public-title figure img {margin-left: .8rem;width: .95rem;height: .95rem;}

/* 首页 - about project */
.about-project {height: auto;padding-top: 1.5rem;}
.project-list {text-align: center;}
.project-list li {border-right: .15rem solid rgba(255,255,255,.1);padding-top: 4.7rem;height: 21.4rem;
  box-sizing: border-box;background:rgba(44,45,55,.3);}

.project-list li:last-child {border-right: 0;}
.project-list section figure img {margin-bottom: 1.65rem;width: 4.9rem;height: 4.9rem;
  transition: All 0.4s ease-in-out;-webkit-transition: All 0.4s ease-in-out;
  -moz-transition: All 0.4s ease-in-out;-o-transition: All 0.4s ease-in-out;}
.project-list section figure figcaption {font-size: .65rem;color: #76747B;line-height: 2;}
.project-list section figure figcaption .font-bold {font-size: .85rem;color: #fff;line-height: 1.5;}
.project-list section figure figcaption .font-top {margin-top: .6rem;}
.project-list section figure figcaption .proj-tit {width: 7.5rem;margin: 0 auto;}

/* 首页 - price */
.price-title {padding-top: 6.6rem;padding-right: 0;}
.price-title section {font-size: .5rem;color: rgba(255,255,255,.7);display: flex;}
.price-title section p {color: #59DCB4;margin: 0 1rem 0 1.2rem;}

.price-list li {padding: 0;color: #fff;padding-top: 3.2rem;}
.price-list li section {width: 19.1rem;}
.price-list li:last-child,.dynamics-list li:last-child {display: flex;justify-content: flex-end;}
.price-list li:nth-child(2),.dynamics-list li:nth-child(2) {display: flex;justify-content: center;}
.price-list .price-txt {display: flex;align-items: center;justify-content: space-between;color:rgba(255,255,255,.8);
  font-size: .5rem;}
.price-list .price-txt-font1 {font-size: 1.2rem;font-weight: 600;}
.price-list .price-txt-font2 {font-size: .8rem;padding-right: .5rem;}
.price-list .price-txt-margin {margin-bottom: .8rem;}
.price-list .price-img {position: relative;margin-top: 2rem;}
.price-list .price-img img {width: 19.1rem;height: 7.45rem;}
.price-list .price-img figcaption {position: absolute;top: 2.8rem;right: 4.4rem;
  width: 2.4rem;height: 1rem;border-radius: .3rem;
  display: flex;align-items: center;justify-content: center;font-size: .5rem;}

.price-list .price-txt-color1 {color: #FB6363;font-family: proximaNova;}
.price-list .price-txt-color2 {color: #59DCB4;font-family: proximaNova;}
.price-list .price-img .success-bg {background:#59DCB4;}
.price-list .price-img .failure-bg {background: #E65C5D;}

/* 首页 - new-dynamics  -18.1rem*/
.new-dynamics {margin-top: -18.1rem;}
.new-dynamics ul li {box-sizing: border-box;padding: 3.5rem 0 0;}
.new-dynamics ul li figure {width: 19.1rem;height: 26.7rem;position: relative;
  background: url('../images/index/dynamics-bg.png');background-size: 100% 100%;}
.new-dynamics ul li figure img {width: 19.1rem;height: 11.5rem;}
.new-dynamics ul li figure .dynamics-active {position: absolute;top: 0;right: 0;left: 0;}

.new-dynamics ul li figure figcaption {text-align: center;font-size: .5rem;}
.new-dynamics ul li figure figcaption section:first-child {padding: 3rem 0 1rem;}
.new-dynamics ul li figure figcaption section:first-child p {font-size: .6rem;color: #fff;width: 9.1rem;margin: 0 auto;
  display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.new-dynamics ul li figure figcaption section:nth-child(2) p {width: 9.6rem;margin: 0 auto;display: -webkit-box;
  -webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
.new-dynamics ul li figure figcaption section p {line-height: 2;color:rgba(255,255,255,.2);}

.new-dynamics ul li figure figcaption time {color:rgba(255,255,255,.8);padding-top: 1.5rem;display: block;}
.news-active {box-sizing: border-box;border-bottom:5px solid #59DCB4;cursor: pointer;}

.mask {display: none;}
.news-mask {position: fixed;top: 0;bottom: 0;left: 0;right: 0;display: flex;align-items: center;
  justify-content: center;background: rgba(0, 0, 0,.85);overflow: hidden;z-index: 99;}

.news-mask-list {display: flex;}
.news-mask-list section:first-child {margin-right: 1rem;}
.mask-close {position: absolute;top: .25rem;right: .5rem;font-size: 20px;}

.news-mask-content {width: 45rem;background: #fff;padding: 2.5rem 2rem;height: 80vh;overflow-y: auto;
  position: relative;border-radius: .25rem;}
.news-mask-title {display: flex;justify-content: space-between;padding-bottom: 2rem;
  border-bottom:5px solid #59DCB4;box-sizing: border-box;font-size: .8rem;}
.news-mask-title h5 {font-size: 1.2rem;font-weight: bold;width: 20rem;word-break: break-all;}
.news-mask-cnt {padding-top: 1rem;line-height: 2;word-break: break-word;}
.news-mask-cnt img {max-width: 100%;}

/* 首页 - Submit a subscription */
.suggest {text-align: center;font-size: .6rem;color:rgba(255,255,255,.4);}
.suggest .mobile-suggest {display: none;}
.suggest .suggest-tit {font-size: .8rem;color: #fff;padding: 8.5rem 0 1.5rem;}
.suggest .suggest-txt {padding: .8rem 0 2.75rem;}
.suggest .suggest-img-txt {margin: 0 2.05rem 0 2.3rem;}
.suggest-from {width: 21.05rem;margin: 0 auto;display: flex;align-items: center;
  justify-content: space-between;padding-bottom: 4rem;}
.suggest-from input {flex: 1;height: 1.75rem;border: 0;color: #fff;font-size: .5rem;
  background:rgba(26,27,34,.3);border-radius: .25rem 0 0 .25rem;text-indent: .9rem;}
.suggest-from span {width: 8.55rem;height: 1.75rem;line-height: 1.75rem;background: #59DCB4;color: #fff;
 font-size: .6rem;border-radius: 0 .25rem .25rem 0;}

/* 首页 - network-state */
.network-state {height: 29.6rem;padding-top: 2.4rem;
  background: url('../images/index/footer-bg.png') center no-repeat;
  background-size: cover; }
.network-state ul {display: flex;align-items: center;justify-content: center;padding-top: 3.35rem;}
.network-state ul li {display: flex;flex-direction: column;align-items: center;justify-content: center;
  margin-left: .3rem;height: 3.7rem;background:rgba(54,53,65,1);border-radius: .5rem;color: #7C7A81;
  font-size: .6rem;}
.network-state ul li:first-child {margin-left: 0;}
.network-state ul li span:first-child {font-size: .85rem;text-align: center;padding-bottom: .4rem;}
.network-state ul li:nth-child(1) span:first-child {color: #6ADEB5;width: 6.85rem;}
.network-state ul li:nth-child(2) span:first-child {color: #F66296;width: 6.85rem;}
.network-state ul li:nth-child(3) span:first-child {color: #FBA00F;width: 7.15rem;}
.network-state ul li:nth-child(4) span:first-child {color: #3BAED8;width: 9.55rem;}
.network-state ul li:nth-child(5) span:first-child {color: #7C7AD5;width: 9.9rem;}

/* 首页 - footer  background:rgba(44,45,55,1);*/
.footer {width: 100%;background:rgba(44,45,55,1);}

.about-list {border-top: .15rem solid #83898F;padding: 4.5rem 0 4.4rem;display: flex;
  justify-content: space-between;margin-top: -9rem;position: relative;}
.about-list h4 {font-size: .55rem;color: #fff;padding-bottom: 1.75rem;}
.about-list ul li a {color:rgba(255,255,255,.4);font-size: .5rem;line-height: 2.5;}
.about-list ul li a:hover {color:rgba(255,255,255, 1);font-size: .5rem;line-height: 2.5;}

.about-list .foot-list {display: flex;}
.about-list .last-section-cnt {text-align: right;}
.last-foot-list {justify-content: flex-end;}
.last-foot-list ul {margin-right: 1rem;}
.last-foot-list ul li {margin-top: .5rem;}
.last-foot-list ul li:first-child {margin-top: 0;}
.last-foot-list ul:last-child {margin-right: 0;}
.list-margin-left {margin-left: 1.9rem;}

.last-foot-list .biutWx .wxActive {position: absolute;top: 10%;right: 15%;display: none;}

.footer footer {height: 9.15rem;box-sizing: border-box;border-top: .1rem solid rgba(78,79,91,.7);
  color:rgba(255,255,255,.3);font-size: .5rem;}
.footer footer p {padding-top: 1rem;}

/* 媒体查询 适配 */
html {font-size: 20px;}
@media (max-width: 767px) {
  .toastCnt {width: 80%;left: 10%;}
  html { font-size: 17px;}
  .head-content {padding-bottom: 5rem;}
  .public-head {padding: .85rem 15px;position: fixed;top: 0;left: 0;right: 0;z-index: 99;
    background: rgba(40, 38, 53,0);transition: all 1s;}
  .public-head-bg {background: rgba(40, 38, 53,1);transition: all 1s;}
  
  .public-head figure {display: flex;justify-content: space-between;align-items: center;width: 100%;}
  
  .public-head .open-nav {width: auto;position: fixed;top: .85rem;left: 15px;right: 15px;z-index: 99;
    width: auto;}

  .public-head figure  figcaption {width: 25px;transition: all .5s ease;}
  .public-head figure  figcaption span {display: block;height: 2px;background: #fff;
    width: 1.25rem;margin-top: .25rem;transition: transform .5s ease;}
  .public-head figure  figcaption span:first-child {margin-top: 0;}
  .public-head figure  .open {position: relative;}
  .public-head figure  .open span:first-child {transform: rotate(45deg);position: absolute;top: .25rem;}
  .public-head figure  .open span:last-child {transform: rotate(-45deg);top: .8rem;}
  .public-head figure  .open span:nth-child(2) {display: none;}
  
  .public-head ul {flex-direction: column;}
  .public-head ul li,.public-head ul li:last-child {margin: 2rem 0 0;font-size: 1.2rem;}
  .public-head ul li:first-child {margin-top: 0;}
  .public-head nav {flex: 1;display: flex;align-content: center;justify-content: center;
    width: 100%;position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 9;display: none;height: 100vh;
    background: url('../images/index/header-mask-bg.png') center no-repeat;background-size: 100% 100%;} 
  
  .public-head  .tab-nav {display: flex!important;}
  .public-head nav ul {width: 100%;justify-content: center;}

  .row {margin: 0;}
  
  .content-head {padding: 10.13rem 0 0;text-align: center;}
  .content-head .head-logo h1 {margin-bottom: 1.75rem;}
  .content-head .head-logo figcaption img {margin-bottom: 1.25rem;}
  .content-head .head-logo figcaption img:last-child {margin: 1.25rem 0 0;}
  .content-head .head-logo figcaption .pc-tit {display: none;}
  .content-head .head-logo figcaption .moible-tit {display: block;}
  .content-head .head-list {display: none;}

  .content-head .head-down {margin: 12.95rem 0 5.6rem;}
   
  .about-project {padding-top: 4.5rem;}
  
  .public-title {padding: 0 0 1.25rem 0;border-color: #6ADEB5;}
  .project-list li {padding-top: 3.7rem;}
  .project-list li:nth-child(1),.project-list li:nth-child(2) {border-bottom: .15rem solid rgba(255,255,255,.1);border-right: .15rem solid rgba(255,255,255,.1);}
  .project-list li:nth-child(2) {border-right: 0;}
  .project-list section figure figcaption p:first-child {margin-bottom: .9rem;}
  
  .price-list .price-img figcaption {right: 5.1rem;}

  .new-dynamics {margin-top: 5.075rem;}
  .new-dynamics ul li:first-child {padding-top: 3.175rem;}
  .new-dynamics ul li {padding-top: 1.75rem;}
  .new-dynamics ul li figure,.new-dynamics ul li figure img {width: 100%;}
   
  .news-mask-content {width: 85%;}
  .news-mask-title h5 {width: 50%;word-break: break-all;}

  .price-title {padding-top: 4.9rem;padding-right: 0;align-items: flex-start;}
  .price-title section {flex-direction: column;text-align: right;}
  .price-title section p {margin: .6rem 0;}
  .price-list li section,.price-list .price-img img {width: 100%;}

  .suggest-from {flex-direction: column;padding-bottom: 5.875rem;width: 80%;}
  .suggest .pc-suggest,.suggest .suggest-txt {display: none;}
  .suggest .suggest-tit {line-height: 2;}
  .suggest .mobile-suggest {display: flex;align-items: flex-start;}
  .suggest .mobile-suggest p {padding: 0 .5rem 2.7rem;line-height: 3;}
  .suggest .mobile-suggest img {padding-top: .8rem;}

  .suggest-from input,.suggest-from span  {width: 100%;height: 2.1rem;flex: auto;line-height: 2.1rem;}
  .suggest-from span {margin-top: 1rem;border-radius: .25rem;}
  
  .network-state {height: auto;padding-bottom: 4.75rem;}
  .network-state ul {flex-direction: column;}
  .network-state ul li:first-child {margin-top: 3.15rem;padding-top: 0;}
  .network-state ul li {margin-top: 1.25rem;}

  .about-list {text-align: center;margin-top: 0;flex-direction: column;padding: 3.4rem 0 2.5rem}
  .about-list h4 {padding-bottom: 1.25rem;}
  .about-list .foot-dev,.about-list .foot-ec {padding-top: 2.5rem;}

  .list-margin-left {margin-left: 0;}
  .foot-list {flex-direction: column;}
  .about-list .last-section-cnt {text-align: center;padding-top: 2.5rem;}
  .last-section-cnt .foot-list {flex-direction: row;}
  .last-section-cnt .last-foot-list {justify-content: center;}
  
  .footer footer {height: 6rem;}
}

@media (min-width: 768px) {
  html { font-size: 18px;} 
}

@media (min-width: 992px) {
  html { font-size: 19px;} 
}

@media (min-width: 1200px) {
  html { font-size: 20px;}
  .container {padding: 0;width: 1200px;}
  .row {margin: 0;}
}

@media (min-width: 1500px) {
  
}




