/* 通用字体 */
@font-face {
  font-family:'gotham';
  src: url(../dist/font/Gotham-Medium.pfb.ttf);
}

/* title字体 */
@font-face {
  font-family:'ceraPRO';
  src: url(../dist/font/CeraPRO-Bold.otf);
}

/* 特殊字体 */
@font-face {
  font-family:'proximaNova';
  src: url(../dist/font/ProximaNova-Bold.otf);
}
html,body {font-family: gotham!important;}
body {overflow:auto;-webkit-overflow-scrolling:touch;}

.ov-h {overflow: hidden!important;}

body.modal-open {
  position: fixed;
  width: 100%;
}
a:link,a:visited,a:hover,a:active {text-decoration: none;}
.errorBorder {border: .1rem solid rgba(251,99,99,1)!important;box-sizing: border-box;}
.error-txt {color:#FF3643!important;font-size: .7rem!important;padding: .4rem 0 0!important;display: none;}

.nav-bg {background:rgba(40,38,53,1);}

/* 浏览器缩放提示 */
.zoom-message {position: fixed;right: 0;top: 4.4rem;width: 16.5rem;padding: .8rem 2rem .8rem .8rem;
  background: #ebf5fd;z-index: 999;color: #515a6e;font-size: .7rem;display: none;
  border-top-left-radius: .2rem;border-bottom-left-radius: .2rem;}

/* 功能暂未开通提示 */
.toast-content {position: fixed;top: 1rem;background: rgba(255,255,255,1);z-index: 999;width: 50%;
  margin: 0 auto;padding: .5rem 1rem;left: 25%;border-radius: .25rem;text-align: center;
  line-height: 1.5;font-size: .8rem;color: #FB6363;display: none;}

/* 导航栏选中颜色 */
.check-color,.check-color a  {color:rgba(255,255,255,.8)!important;}

.public-head ul li:hover,.content-head .head-down img:hover,.suggest-from span:hover,.foot-members-cont .members-tab:hover,
.public-title figure:hover,.mask-close:hover,.down-client:hover,.close-mask img:hover,.foot-news .foot-news-more:hover,
.upload-button:hover,.upload-button input[type='file']:hover,.public-blur:hover,.public-cnt:hover,.success-txt span:last-child:hover,
.public-cnt ul li:hover,.time-list li:hover,.news-mask .left-container img:hover,.left-list2 li:hover,
.news-mask .right-container img:hover {cursor: pointer;}

/* 首页公共子导航 */
.public-title {display: flex;justify-content: space-between;box-sizing: border-box;
  padding: 0 1.8rem 1.6rem 2.8rem;border-bottom: .2rem solid #787380;}
.public-title h3 {font-size: 1.2rem;color: #fff;font-family: ceraPRO;}
.public-title figure {display: flex;font-size: .6rem;color: rgba(255,255,255,.8);}
.public-title figure img {margin-left: .8rem;width: .95rem;height: .95rem;}

/* 公共头部 */
.public-head {display: flex;align-items: center;justify-content: space-between;padding: 0 3.75rem 0 3.15rem;
  position: fixed;top: 0;left: 0;right: 0;z-index: 999;height: 4rem;}
.public-head figure img {width: 5.2rem;height: 1.75rem;}
.public-head ul {display: flex;align-items: center;}
.public-head ul li {margin-left: 2.5rem;font-size: .8rem;color:rgba(255,255,255,.2);}
.public-head ul .login a {border: .1rem solid rgba(255,255,255,1);border-radius: .75rem;color: #fff;
  height: 1.65rem;display: flex;align-items: center;width: 3.8rem;justify-content: center;
  box-sizing: border-box;}
.public-head ul .check-img {display: flex;align-items: center;}
.public-head ul .headerImg {display: none;}
.public-head ul li img {width: .55rem;height: .55rem;margin-right: .9rem;vertical-align: middle;}
.public-head ul li .header-img {width: 1.7rem;height: 1.7rem;margin: 0;}
.public-head ul li a {color:rgba(255,255,255,.2);}
.public-head ul li a:hover {color:rgba(255,255,255,.8);text-decoration: none;}
.public-head ul li:first-child {margin-left: 0;}
.public-head ul li:last-child {margin-left: 1.5rem;}
.public-head ul li:last-child span:first-child {font-family: PingFangSC-Semibold, sans-serif;}
.public-head ul li:last-child .head-line {padding: 0 .4rem;}

/* 公共底部 */
.public-footer {width: 100%;background:rgba(44,45,55,1);}
.public-footer footer {height: 9.15rem;box-sizing: border-box;border-top: .1rem solid rgba(78,79,91,.7);
  color:rgba(255,255,255,.3);font-size: .5rem;}
.public-footer footer p {padding-top: 1rem;}

.footer-list {border-top: .15rem solid #83898F;padding: 4.5rem 0 4.4rem;display: flex;margin-top: -9rem;
  justify-content: space-between;position: relative;}
.footer-list .footer-flex {display: flex;align-items: center;}
.footer-list h4 {font-size: .55rem;color: #fff;padding-bottom: 1.75rem;}
.footer-list ul li a {color:rgba(255,255,255,.4);font-size: .5rem;line-height: 2.5;}
.footer-list ul li a:hover {color:rgba(255,255,255, 1);font-size: .5rem;line-height: 2.5;}
.footer-list .footer-list-margin {margin-left: 1.9rem;}
.footer-list .footer-last {text-align: right;}

.footer-last-list {display: flex;flex-direction: column;align-items: center;}
.footer-last-list ul {display: flex;align-items: center;margin-bottom: .5rem;justify-content: flex-end;}
.footer-last-list ul li {margin-left: 1rem;}
.footer-last-list ul:last-child {margin-bottom: 0;}
.footer-last-list ul li:first-child {margin-left: 0;}
.footer-last-list .wxActive {position: absolute;top: 10%;right: 15%;display: none;}

/* 首页 - new-dynamics*/
.new-dynamics {margin-top: -18.1rem;}
.new-dynamics ul li {box-sizing: border-box;padding: 3.5rem 0 0;}
.new-dynamics ul li figure {width: 19.1rem;height: 26.7rem;position: relative;
  background: url('../images/index/dynamics-bg.png');background-size: 100% 100%;}
.new-dynamics ul li figure img {width: 19.1rem;height: 11.5rem;}
.new-dynamics ul li figure .dynamics-active {position: absolute;top: 0;right: 0;left: 0;}

.new-dynamics ul li figure .tipsTxt {position: absolute;right: .4rem;top: 9.6rem;display: inline-block;
  padding: .25rem .7rem;color: #fff;background: #59DCB4;border-radius: .1rem;font-size: .7rem;}
.new-dynamics ul li:nth-child(2) figure .tipsTxt {background: #DCA059;}
.new-dynamics ul li:nth-child(3) figure .tipsTxt {background: #8587B4;}

.index-news ul li figure .tipsTxt {display: none!important;}

.new-dynamics ul li figure figcaption {text-align: center;font-size: .5rem;}
.new-dynamics ul li figure figcaption section:first-child {padding: 3rem 0 1rem;}
.new-dynamics ul li figure figcaption section:first-child p {font-size: .6rem;color: #fff;width: 9.1rem;margin: 0 auto;
  display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.new-dynamics ul li figure figcaption section:nth-child(2) p {width: 9.6rem;margin: 0 auto;display: -webkit-box;
  -webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
.new-dynamics ul li figure figcaption section p {line-height: 2;color:rgba(255,255,255,.2);}

.new-dynamics ul li figure figcaption time {color:rgba(255,255,255,.8);padding-top: 1.5rem;display: block;}
.news-active {box-sizing: border-box;border-bottom:5px solid #59DCB4;cursor: pointer;}

/* 公共-- 新闻弹窗 */
.mask-hidden {display: none;}
.mask {position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(24, 25, 32, .8);
  z-index: 9999;}
.news-mask {position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(24, 25, 32, .8);
  z-index: 9999;display: flex;justify-content: space-between;}
.news-mask .left-container,.news-mask .right-container {flex: 1;display: flex;align-items: center;padding-top: 6rem;}
.news-mask .left-container {justify-content: flex-end;padding-right: 1rem;}
.news-mask .right-container {justify-content: flex-start;padding-left: 1rem;position: relative;}
.news-mask .right-container .close-img {position: absolute;left: 0rem;top: 3.35rem;width: 2.65rem;
  height: 2.65rem;}
.news-container {margin-top: 6rem;background: #fff;}

.news-mask-list {display: flex;font-size: .7rem;}
.news-mask-list time {color:rgba(0,0,0,.8);}
.news-mask-list .news-mask-read {margin-right: 1.75rem;color:rgba(0,0,0,.4);}
.news-mask-list .news-mask-read span:first-child {margin-right: .5rem;font-weight: bold;color: #000;}

.news-mask-content {width: 60rem;background: #fff;padding: 7.5rem 7.1rem 5rem 7.65rem!important;overflow-y: auto;
  overflow-y:auto;-webkit-overflow-scrolling:touch;}
.news-mask-title {display: flex;justify-content: space-between;padding: 0 1.5rem 1.4rem;
  border-bottom: .2rem solid #59DCB4;box-sizing: border-box;font-size: .8rem;}
.news-mask-title h5 {font-size: 1.2rem;font-weight: bold;word-break: break-all;color: #00D69B;flex: 1;
  padding-right: 2rem;}
.news-mask-cnt {padding: 3.5rem 1.5rem;line-height: 2;word-break: break-word;}
.news-mask-cnt img {max-width: 100%;}


/* 上传图片按钮 */
.upload-button {width: 6.2rem;height: 1.6rem;background:#00D69B;border-radius:.5rem;
  display: flex;align-items: center;justify-content: center;font-size: .75rem;color: #fff;position: relative;}
.upload-button img {margin-right: .6rem;}
.upload-button input[type='file'] {position: absolute;top:0;left: 0;right: 0;bottom: 0;
  width: 6.2rem;opacity: 0;}

.topLeft {position: absolute;top: 0;left: 0;}
.bottomLeft {position: absolute;bottom: 0;left: 0;}
.topRight {position: absolute;top: 0;right: 0;}
.bottomRight {position: absolute;bottom: 0;right: 0;}

/* 头像 + 昵称 */
.mask-head {display: flex;align-items: center;}
.mask-head img {margin-right: 1.5rem;}
.mask-head figcaption span:first-child {color:rgba(255,255,255,.5);margin-right: .8rem;}

.public-btn {height: 2rem;border-radius: .5rem;font-size: .8rem;color: #fff;
  box-shadow:0 .15rem .45rem 0 rgba(69,72,90,0.3), 0 .8rem 1.45rem 0 rgba(69,72,90,0.04);
  border:.1rem solid #00d69b;background:#00d69b;box-sizing: border-box;}
.public-red {color: #FB2828!important;}
.public-white {color: #fff!important;}
.public-blur {color: #4EBBF7!important;font-size: .7rem;}
.public-f {font-size: .6rem;}
/* .l-s {letter-spacing: .6rem;} */

/* 登陆、注册、重置密码 */
.public-container {padding: 19.3rem 0 18.4rem;display: flex;align-items: center;justify-content: center;
  background: url('../images/login/publicLoginBg.png') center no-repeat;background-size: cover;
  position: relative;}

.public-cnt {background:rgba(0,0,0,.5);border-radius: .25rem;display: flex;flex-direction: column;
  color: #fff;width: 25.4rem;}

.public-flex-list {display: flex;align-items: center;justify-content: space-between;height: 2.5rem;
  background:rgba(18,17,22,.3);border-radius: .5rem;}
.login-foot {position: absolute;bottom: 0;right: 0;left: 0;background:rgba(0,0,0,.1);height: 3rem;
  display: flex;align-items: center;justify-content: flex-end;color:rgba(255,255,255,.5);font-size: .6rem;}

/* 电话输入选择 */
.phone-list {padding: 0 .8rem 0 1rem;}
.phone-list input {background: none;border: 0;text-indent: .9rem;flex: 1;}
.phone-list figure img:first-child {margin-right: .45rem;}
.phone-list .error-img {display: none;}
   
.phone-list ul::-webkit-scrollbar { width: .25rem;}
.phone-list ul::-webkit-scrollbar-thumb { -webkit-box-shadow: inset 0 0 .05rem #fff;background: #fff;border-radius: .5rem;}
.phone-list ul::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 .05rem rgba(255,255,255,.05);
  border-radius: .5rem; background: rgba(255,255,255,.05);}

/* 验证码 */
.code-list input {background: none;border: 0;text-indent: 1.5rem;flex: 1;}
.code-list button {width: 6.85rem;height: 1.85rem;background:rgba(77,75,93,1);border-radius: .15rem;
  border: 0;margin-right: .3rem;font-size: .7rem;}

/* 输入框 */
.public-ipt {width: 100%;height: 2.5rem;background:rgba(18,17,22,.3);border-radius: .5rem;
  border: 0;text-indent: 1.5rem;}

.public-margin {margin-top: .6rem;}

.public-btn-list {display: flex;align-items: center;justify-content: space-between;margin-top: 1.7rem;}
.public-btn-list button {flex: 1;height: 2rem;border: 0;color: #434561;}
.public-btn-list button:first-child {margin-right: 1rem;background: #45485A;color: #fff;}



input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  font-size: .6rem;
  color:rgba(255,255,255,.5);
}
input:-moz-placeholder,textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: .6rem;
  color:rgba(255,255,255,.5);
}
input::-moz-placeholder,textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: .6rem;
  color:rgba(255,255,255,.5);
}
input::-ms-input-placeholder,textarea::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-size: .6rem;
  color:rgba(255,255,255,.2);
}

/* 媒体查询 适配 */
html {font-size: 20px;}
@media (max-width: 767px) {
  html { font-size: 17px;}
  .toast-content {width: 80%;left: 10%;}
  .row {margin: 0;}

  .public-head {padding: .85rem 15px;position: fixed;top: 0;left: 0;right: 0;z-index: 99;
    background: rgba(40, 38, 53,0);transition: all 1s;}
  .public-head-bg {background: rgba(40, 38, 53,1);transition: all 1s;}
  .public-head figure {display: flex;justify-content: space-between;align-items: center;width: 100%;}
  .public-head .open-nav {width: auto;position: fixed;left: 15px;right: 15px;z-index: 99;
    width: auto;}
  .public-head figure  figcaption {width: 1.25rem;transition: all .5s ease;}
  .public-head figure  figcaption span {display: block;height: .1rem;background: #fff;
    width: 1.25rem;margin-top: .25rem;transition: transform .5s ease;}
  .public-head figure  figcaption span:first-child {margin-top: 0;}
  .public-head figure  .open {position: relative;}
  .public-head figure  .open span:first-child {transform: rotate(45deg);position: absolute;top: .25rem;}
  .public-head figure  .open span:last-child {transform: rotate(-45deg);top: .8rem;}
  .public-head figure  .open span:nth-child(2) {display: none;}
  .public-head ul {flex-direction: column;}
  .public-head ul .login a {width: 5.25rem;height: 2.1rem;}

  .public-head ul li,.public-head ul li:last-child {margin: 2rem 0 0;font-size: 1.2rem;}
  .public-head ul li:first-child {margin-top: 0;}
  .public-head nav {flex: 1;display: flex;align-content: center;justify-content: center;
    width: 100%;position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 9;display: none;height: 100vh;
    background: url('../images/index/header-mask-bg.png') center no-repeat;background-size: 100% 100%;} 
  .public-head  .tab-nav {display: flex!important;}
  .public-head nav ul {width: 100%;justify-content: center;}


  .new-dynamics {margin-top: 5.075rem;height: 89.85rem;}
  .new-dynamics ul li:first-child {padding-top: 3.175rem;}
  .new-dynamics ul li {padding-top: 1.75rem;}
  .new-dynamics ul li figure {margin: 0 auto;}

  .public-title {padding: 0 .8rem 1.6rem;}

  .news-mask .left-container,.news-mask .right-container {width: 10%;}
  .news-mask .left-container img,.news-mask .right-container img {display: none;}
  .news-container {width: 80%;}
  .news-mask-content {padding: 1rem!important;}
  .news-mask-title {flex-direction: column;padding: 0 0 1rem 0;}
  .news-mask-title h5 {padding: 0 0 1rem;}
  .news-mask .right-container .close-img {display: block;width: 1rem;height: 1rem;top: 5rem;left: .25rem;}

  .public-footer footer {height: 6rem;} 
  .footer-list {text-align: center;margin-top: 0;flex-direction: column;padding: 3.4rem 0 2.5rem}
  .footer-list h4 {padding-bottom: 1.25rem;}
  .footer-list .footer-dev,.footer-list .footer-ec {padding-top: 2.5rem;}
  .footer-list .footer-list-margin {margin-left: 0;}
  .footer-list .footer-flex {flex-direction: column;}
  .footer-list .footer-last {text-align: center;padding-top: 2.5rem;}
  .footer-last-list .wxActive {top: 25%;right: 14%;}

  .public-container {padding: 5rem 0;height: 100%;}
  .public-cnt {width: 90%;}
  .login-foot {padding: 0 15px;}
}

@media (min-width: 768px) {
  html { font-size: 18px;} 
}

@media (min-width: 992px) {
  html { font-size: 19px;} 
}

@media (min-width: 1200px) {
  html { font-size: 20px;}
  .container {padding: 0;width: 1200px;}
  .row {margin: 0;}
}

@media (min-width: 1500px) {
  
}

.titanimate {
  animation-name: rollIn;
}

.cntanimate1 {
  animation-name: lightSpeedIn;
}

.cntanimate2 {
  animation-name: bounceLeft;
}

.cntanimate3 {
  animation-name: bounce;
}

@keyframes rollIn  {
  0% {
    filter: blur(20px);
    opacity: 0;
    transform-origin: 0% 0%;
    transform: skew(10deg, 15deg);
  }

  100% {
    filter: blur(0px);
    opacity: 1;
    transform-origin: 0% 0%;
    transform: skew(0deg, 0deg);
  }
}

@keyframes bounce {
  from {
    opacity: 0;
    padding-top: 2.5rem;
  }

  to {
    opacity: 1;
    padding-top: 0;
  }
}

@keyframes bounceLeft {
  from {
    opacity: 0;
    margin-top: 2.5rem;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes lightSpeedIn {
  from {
    position: relative;
    opacity: 0;
    top: 2.5rem;
  }

  to {
    opacity: 1;
    top: 0;
  }
}